@import './../responsive.scss'; /*Consulter le fichier pour plus de précisions*/

main {
    .filemanager{
        height: 70vh;
        min-width:320px;
        flex: 1 1 0;
        padding: 12px
    }
    @media #{$small-down}{
        h2 {
            text-align: center;
            font-size: 1.8em;
        }      
    }

    .home__page {
        .home__list__btn {
            display: flex;
            width: 100%;
            height: 100%;
            margin: 5em auto;

            @media #{$large-down}{
                flex-wrap: wrap;
                padding: 20px 10px;
                margin: 0;
            }
        }
    }
}
