select{
  margin : auto;
  border: none;
  padding: 6px 30px;
  background: url('/assets/img/trainingsList/arrow_down.png') 95% 50% no-repeat #f7f7f7;
  outline: none;
  width: fit-content;
  border-radius: 20px;
  font-family: 'avant_guardregular';
  -webkit-appearance: none;
}