@import '../../responsive.scss';

.form__definition{

    label {
        position: absolute;
        left: -10000px;
        width: 1px;
        height: 1px;
        top: auto;
        overflow: hidden;
    }

    input, textarea {
        border: 1px #f58c12 solid!important;
        border-radius: 10px!important;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px inset;    
        font-size: 2.8rem!important;
        margin: .4em 0px;
        width: 100%;
    
        &:focus {
            border: 2px #f58c12 solid!important;
        }
    
        @media #{$small-down} {
            font-size: 2rem!important;
        }
    }
    
    input{
        height: 55px;
    }

    textarea {
        height: 300px;
    }
}