@import '../responsive.scss';

.tab__menu {
	border-bottom: 1px #0078ff solid;
	border-top: 1px #eee solid;
	font-size: 1.7rem;
	display: flex;
    flex-wrap: wrap;
	width: 100%;
	justify-content: center;

	a {
		color: #4d4c4c;
	}
	
	.tab__link {
		border: none;
		border-radius: 0;
		display: inline-flex;
		justify-content: space-evenly;
		text-transform: uppercase;
		padding: 15px 25px;

		@media #{$medium-down}{
			width: 33.3%;
		}

		
		@media #{$small-down}{
			padding: 15px 20px;
			width: 33.3%;
		}
	}

	.tab__link.actif{
		background: #0078ff;
			a{
				color: #fff;
			}
	}
}

.blocks__menu {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #BBB;
	padding: 0 1.4em;
	text-align: center;
	display: flex;
	justify-content: center;
	font-size: 1.7rem;

	a {
		color: #4d4c4c;
		padding: 12px 25px;
		display: flex;
	}

	.actif a{
		background: #4b4b4b none repeat scroll 0 0;
    	color: #fff;
	}
	
	.tab__link {
		text-transform: uppercase;
	}
}

.blocks__tab{
	border: 1px solid #BBB;
	border-style: none none solid;
	width: 100%;
	position: relative;
}